@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sacramento|Ubuntu:100,200,300,400,500,600,700|Unna&display=swap:100,200,300,400,500,600,700');

html,
body {
    max-width: 100%;
}

body {
    height: 100vh;
    background: url("../img/hpImg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color:#f0e8e8de;
}

/*Add overlay to jumbotron*/
.opaque-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

a {
    color: rgb(182, 98, 98);
    text-decoration: none;
}

a:hover {
    color: #a52a2a;
    text-decoration: none;
}


/*----NavBar-------*/
.navbar-brand {
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-size: 30px;
}
.fa-cookie-bite {
    font-size: 20px;
    padding-left: 5px;
    color: #a52a2a;
}
.navbar {
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
}

nav{
   background-color: #f1eaea45;
}
.navbar-toggler {
    line-height: 0.5;
    border: 1px solid #fafaf8;
    border-radius: .25rem;
    padding: 0;
}
/* Delete the blue shadow from the navabar-toggler */
.navbar-toggler:focus,
.navabar-toggler:active {
    outline: none !important;
    box-shadow: none;
}
.navbar-collapse {
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.85);
}

/*Style for all the buttons*/
.btn--cta {
    font-weight: 400;
    border-radius: 35px;
    width: 120px;
}
.btn--red {
    color: white;
    background-color: #ab3837;
    border-color: #b624054d;
}

.btn--red:hover{
    color:#a52a2a;
}


 /*Jumbotron*/
.jumbotron {
    margin-top: 30%;
    background-color: #e9ecef00;
}

.jumbotron-header {
    color: #a41d2a;
    font-weight: 400;
    font-size:30px;
    margin-top:5px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.jumbotron .lead {
    margin: 25px 0;
    color: #212529;;
    font-size: 25px;
}
.smallTitle {
    color: #7f1a24;;
    font-weight: 700;
}

/*------Recipes ------*/
/* All Recipes */
.card{
    height:98%
}

.mainTitle{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-size: 50px;
    color: #87160e;
}

.container .recipesContainer{
    margin-top: 30%;
    margin-bottom:50px;   
}

.recipesContainer .card {
    margin-bottom: 20px;
    border: 1px solid #a52a2a;
}

.card .card-image img{
    height:280px;
    width:100%;
}

.card .card-image .card-title {
    text-align: -webkit-center;
    position: static;
    color: #92222d;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Unna', serif;
}

.card .card-content p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.card-content{
    padding: 15px 24px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #a52a2a!important;
    
}
/*------Each Recipe -------*/
.recipeContainer{
    margin-top:20%;
}

.recipeTitle{
    font-size: 30px;
    font-weight: 400;
    font-family: "Unna";
    margin: 5px;
    letter-spacing: 1px;
}


/*Recipe Info*/
.recipeInfo{
    text-align: center;
    margin-top: 20px;
}

strong{
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.cookInfoDesc{
    text-transform: uppercase;
    font-size: 11px;
    color: #922c36;
    font-weight:600;
}
#recipeDesc,
#recipeNote
{   
    text-align: -webkit-center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Unna;
    font-size: 15px;
    font-weight: 300;
    line-height: inherit;
}



.recipeIngredients{
    display: block;
    margin: 15px 0 20px;
    padding: 12px 24px;
    border: 1px solid #97202b59;
}
   
/*Main Style for Titles*/
.cookText{
    font-family:"Unna";
    margin:0 0 10px 0;
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
    
}

.cookItem,
.cookSteps{
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style-type: none;
}

.recipeSteps{
    margin-right: 10px;
}


/*------SUBSCRIBE CONTAINER -------*/

.subscribeContainer {
    border: 1px dotted #a52a2a;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.subscribeContainer h3 {
    text-align: center;
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: .4em;
}


.emailSub {
    font-family: inherit;
    text-transform: none;
    letter-spacing: 0;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.7);
}

.subscribeContainer input {
    text-align: center;
    margin-bottom: .8em;
    letter-spacing: .03em;
    color: #333 !important;
    padding: 1.2em !important;
    width: 290px !important;
    border: 0 !important;
    background: rgba(0, 0, 0, 0.025) !important;
}

.subscribeContainer button {
    display: inline-block;
    position: relative;
    padding: 14px 26px;
    margin-bottom: .25em;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
    outline: 0;
    border: 2px solid #333;
    color: #333;
    text-shadow: none;
    background: none;
    border-radius: 0;
    font-weight: 400;
}

/*----------------MEDIA QUERIES-----------*/
@media(max-width: 320px) {
    
    .subscribeContainer h3 {
        font-size: 1.7em;
    }

    .subscribeContainer input {
        width: 250px!important;
    }
}

@media (min-width:380px) and (max-width:412px) {
    .subscribeContainer input {
        margin-left: 25px;
    }
}

@media(max-width: 361px) {
    .jumbotron .lead {
        font-size: 20px;
    }
}


@media(max-width: 639px) {
    #menu-dropdown {
      background-color: #f1eaea;;
    }
    .cardImgTop{
      width:100%;
    }
}

/*------IPAD---------*/

@media (min-width:599px) {
    nav{
    background-color:transparent;
    }
    .btn--cta {
        font-weight: bold;
        border-radius: 23px;
        width: 160px;
    }
    .navbar-brand {
        font-size: 35px;
        margin-top: 5px;
    }
    .jumbotron-header {
       font-size:40px;
    }
}


@media (min-width:767px) {
    .cardImgTop{
        padding: 0 20px;
    }

    #recipesJumbotron{
        margin-top: 10%;
    }
    .subscribeContainer {
        background-color: #ffffff5e;
    }
}

@media (min-width:599px) and (max-width:1023px) {
    .subscribeContainer input {
        margin-left: 30%;
    }

}


/*------IPAD PRO/ BIG SCREEN -----*/
@media (min-width:1025px){
    body{
    height: 100vh;
    background: url("../img/hpImg1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
   
    .recipesContainer .card {
    width: 20rem;

    }
     .jumbotron {
        margin-top: 15%;
    }

    .recipeContainer {
    margin-top: 10%;
    }

    .subscribeContainer input {
        margin-left: 35%;

    }
}




