@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sacramento|Ubuntu:100,200,300,400,500,600,700|Unna&display=swap:100,200,300,400,500,600,700');

html,
body {
    max-width: 100%;
}

body {
    height: 100vh;
    background: url("../img/hpImg21.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: rgba(223, 230, 236, 0.33);;
}


a {
    color: rgb(102, 2, 2);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #a52a2a;
    text-decoration: none;
}


/*----NavBar-------*/
.scroll{
    background-color:#ccc6bf94;
}

.navbar {
    transition: all .2s ease-in-out;
}

.navbar-brand {
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-size: 30px;
}

.fa-cookie-bite {
    font-size: 20px;
    padding-left: 5px;
    color: #a52a2a;
}

.navbar {
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
}

.navbar-toggler {
    line-height: 0.5;
    border: 1px solid #fafaf8;
    border-radius: .25rem;
    padding: 0;
}
/* Delete the blue shadow from the navabar-toggler */
.navbar-toggler:focus,
.navabar-toggler:active {
    outline: none !important;
    box-shadow: none;
}
.navbar-collapse {
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
}
#active{
    font-weight: 600;
}

/*Style for all the buttons*/
.btn--cta {
    font-weight: 400;
    border-radius: 35px;
    width: 120px;
}
.btn--red {
    color: white;
    background-color: #ab3837;
    border-color: #b624054d;
}


.btn--red:hover{
    color:#eec2c2;
}

 /*Alert Messages*/

.alert{
   padding: 12px;
   margin-top: 50px;
   width: 60%;
   margin-left: 12px;
   background-color: #ab3837;
}

.alert-message{
    font-size: 15px;
    color:#fff;
    font-family: auto;
}


 /*Jumbotron*/
.jumbotron {
    margin-top: 30%;
    background-color: #e9ecef00;
}

.jumbotron-header {
    color: #a41d2a;
    font-weight: 400;
    font-size:30px;
    margin-top:5px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.lead {
    margin: 25px 0;
    color: #212529;;
    font-size: 25px;
    font-family: 'Unna', sans-serif;
}
.smallTitle {
    color: #7f1a24;;
    font-weight: 600;
}

.dividers{
    border-top: 1px dotted #a52a2a9e;
}

#author{
    font-family: initial;
}


/*------Recipes ------*/
/* Sort Label*/
.sortRecipes{
    padding-left: 15px;
}
.selectRecipes{
    font-family: -webkit-body;
    font-size: 20px;
}

.resetBtn{
    display:contents;
    border:1px solid #87160e;
}
.resetBtn .btn-sm{
    border: 1px solid;
}

/* All Recipes */
.card{
    height:98%
}

.mainTitle{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-size: 50px;
    color: #87160e;
}

.container .recipesContainer{
    margin-top: 20px;
    margin-bottom:50px;   
}

.recipesContainer .card {
    margin-bottom: 20px;
    border: 1px solid #a52a2a;
}

.card .card-image img{
    height:280px;
    width:100%;
}

.card-title {
    text-align: -webkit-center;
    position: static;
    color: #92222d;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Unna', serif;
}

.card .card-content p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.card-content{
    padding: 15px 24px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #a52a2a!important;
    
}
/*------Each Recipe -------*/
.recipeContainer{
    margin-top: 20%;
    margin-bottom: 20px;
}

.eachRecipeCard{
    margin-bottom: 20%;
}

.recipeTitle{
    font-size: 30px;
    font-weight: 400;
    font-family: "Unna";
    margin: 5px;
    letter-spacing: 1px;
}


/*Recipe Info*/
.recipeInfo{
    text-align: center;
    margin-top: 20px;
}

.cookInfo{
    margin-top: 5px;
    margin-bottom:0px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.cookInfoDesc{
    font-size: 11px;
    color: #922c36;
    font-weight:600;
}
#recipeDesc,
#recipeNote
{   
    text-align: -webkit-center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: initial;
    font-size: 15px;
    font-weight: 300;
    line-height: inherit;
    margin-top: 15px;
}


.recipeIngredients{
    display: block;
    margin: 15px 0 20px;
    padding: 12px 24px;
}
   
/*Main Style for Titles*/
.cookText{
    font-family:"Unna";
    margin:0 0 10px 0;
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
    
}
.cookItem,
.cookSteps{
    font-family: serif;
}

ul li {
    list-style-type: none;
}

.recipeSteps{
    margin-right: 10px;
}

.btnContainer{
    margin-bottom:10px
}

/*------Add Recipe--------------*/
.addRecipeCont{
    margin-top:50px;
    margin-bottom:20%;
    background-color: #e7dcd226;
}


button{
    background-color: #ab3837;
    color: white;
    border: none;
}

.addRemoveItem{
    margin-top: 10px;
}

#ingredients,
#steps{
    margin-top:5px;
}
/*------Sign In Container -------*/

.signInContainer{
    margin-top:20%;
}


/*------Sign Up Container -------*/
.signContainer{
    margin-top:35%;
    border: 1px dotted #a52a2a;
    margin-bottom: 30px;
    width: 88%;
    background-color:#ccc6bf94;
}

.signTitle,
.addRecipeTitle{
    text-align: center;
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: .4em;
}

label{
    margin-bottom: .8em;
    letter-spacing: .03em;
    color: #333 !important;
    width: 290px !important;
}

#signUpBtn{
    margin-bottom:10px;
}
/*------FOOTER CONTAINER -------*/

.icons{
    background-color: aliceblue;
}

.icons a {
    color:#f8f9fa
}
.icons i{
    display: inline-block;
    font-size: 20px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding-top: 12.5px;
    background-color: #a52a2a;
    margin: 5px 0 5px 5px;
}

#footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

/*----------------MEDIA QUERIES-----------*/
@media(max-width: 320px) {
    
    .subscribeContainer h3 {
        font-size: 1.7em;
    }

    .subscribeContainer input {
        width: 250px!important;
    }
}

@media (min-width:380px) and (max-width:412px) {
    .subscribeContainer input {
        margin-left: 25px;
    }
}

@media(max-width: 361px) {
    .jumbotron .lead {
        font-size: 20px;
    }
}


@media(max-width: 639px) {
    #menu-dropdown {
     /* background-color: rgba(223, 230, 236, 0.33);*/
      background-color: rgba(223, 230, 236, 0.8);
    }
    .cardImgTop{
      width:100%;
    }
}

/*------IPAD---------*/

@media (min-width:599px) {
    .btn--cta {
        font-weight: bold;
        border-radius: 23px;
    }
    .navbar-brand {
        font-size: 35px;
        margin-top: 5px;
    }
    .jumbotron-header {
       font-size:40px;
    }

     .cardImgTop{
        padding: 0 20px;
    }

    #recipesJumbotron{
        margin-top: 10%;
    }
    
    .signContainer{
       margin-top:20%;
       border: 1px dotted transparent;
       background-color:transparent;
    }
    .signContainer .col{
        padding-left:30%!important;
        padding-right:30%!important;
    }
    .alert{   
        width: 30%;
        margin-left: 12px;
        background-color: #ab3837;
     }
}


@media (min-width:599px) and (max-width:1023px) {
    .subscribeContainer input {
        margin-left: 30%;
    }
  }




/*------IPAD PRO/ BIG SCREEN -----*/
@media (min-width:1025px){
    body{
    height: 100vh;
    background: url("../img/img1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .opaque-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.10);
    }
    .callout.jumbotron{
        background-color: #f5f5f596;
    }

    .recipesContainer .card {
    width: 20rem;

    }
     .jumbotron {
        margin-top: 15%;
    }

    .recipeContainer {
    margin-top: 10%;
    }

    .signContainer{
       margin-top:15%;
       background-color: #ffffff5e;
    }

    #alertTitle {
    font-weight: 400;
    }
    .addRecipeCont{
    margin-top:50px;
    background-color: #e7dcd275;
    }
    .icons {
    background-color: #e7dfd8;
    }
}




