{% extends 'base.html' %} {% block content %}

<div class="container addRecipeCont">
<h2 class="text-center addRecipeTitle">Upload Recipe</h2>
<form action="/addRecipe" method="POST">
   <div class="form-group">
      <div class="col s12 input-field">
        <label for="name">Recipe Title</label>
        <input class="form-control" id="name" type="text" name="name" placeholder="Easy Salmon">
      </div>
   </div>  
   <div class="form-group">
      <div class="input-field col s12">
        <label for="imageURL">Image</label>
        <input class="form-control" id="imageURL" type="text" name="imageURL" placeholder="https://diethood.com/Garlic-Butter-Baked-Salmon-12.jpg">
      </div>
     </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="description">Description</label>
        <textarea name="task_description" id="task_description" class="form-control" placeholder="Perfectly baked salmon in the oven!"></textarea>
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="notes">Notes</label>
        <input class="form-control" id="notes" type="text" name="notes" placeholder="Tips to help the reader">
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="steps">Steps</label>
        <input class="form-control" id="steps" type="text" name="steps" placeholder="Add oil, oregano and salt on the salmon" >
         <div class="addRemoveItem"  >
            <button type="button" value="add" id="addSteps"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" value="remove" id="removeSteps"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
      </div>
   </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="ingredients">Ingredients</label>
        <input class="form-control" id="ingredients" type="text" name="ingredients" placeholder="4 to 6 cups broccoli florets">
        <div class="addRemove">
            <button type="button" value="add-ingredients" id="addIngridient"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" value="remove-ingredients" id="removeIngridient"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
      </div>
   </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="course">Course</label>
        <select name="course" class="custom-select">
            <option disabled selected>Course</option>
            <option value="Main">Main</option>
            <option value="Desert">Dessert</option>
            <option value="Eating on budget">Eating on Budget</option>
            <option value="Snack">Snacks</option>
        </select>
      </div>
   </div>  
   <div class="form-group">
      <div class="input-field col s12">
      <label for="category">Category</label>
        <select name="course" class="custom-select">
            <option disabled selected>Category</option>
            <option value="Healthy">Healthy</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Vegan">Vegan</option>
        </select>
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label  for="cook_time">Time</label>
        <input class="form-control" id="cook_time" type="text" name="cook_time" placeholder="30 min">
      </div>
   </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="yields">Yields</label>
        <input class="form-control" id="yields" type="text" name="yields" placeholder="4">
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="author">Author</label>
        <input class="form-control" id="author" type="text" name="author" placeholder="James Oliver">
      </div>
   </div> 
   <div class="form-group">
    <div class="col-md-6">
        <button class="btn btn-sm btn--red">Add Recipe</button> 
        <button class="btn btn-sm btn--red">Cancel</button> 
    </div>
   </div>
</form>
</div>
{% endblock %}
