{% extends 'base.html' %} {% block content %}
  <div class="container recipeContainer">
        <div class="card eachRecipeCard">
            <div class="row">
                <div class="col">
                     <div class="card-body text-center">
                        <h4 class="recipeTitle">{{ recipes.name }}</h4>
                    </div> 
                    <img class="card-img-top" src="{{ recipes.imageURL }}">
                    <div class="recipeInfo">
                       <strong class="cookInfo">Author</strong><span class="cookInfoDesc">{{ recipes.author }}</span>

                        <strong class="cookInfo">Course</strong>
                        {% for crc in recipes.course %}
                        <span class="cookInfoDesc">{{ crc }}</span> 
                        {% endfor %}
                        <strong class="cookInfo">Category</strong>
                        {% for item in recipes.category %}
                        <span class="cookInfoDesc">{{ item }}</span>
                        {% endfor %}
                    </div>    
                    <hr>

                    <div class="recipeDesc text-center">
                        <p id="recipeDesc">{{ recipes.description }}</p>
                    </div>

                    <hr>

                    <div class="recipeInfo">
                        <strong class="cookInfo"><i class="fas fa-utensils"></i>Yields</strong><span class="cookInfoDesc">{{ recipes.yields }}</span>
                        <strong class="cookInfo"><i class="far fa-clock"></i>Cooking Time</strong><span class="cookInfoDesc">{{ recipes.cook_time }}</span> 
                    </div>  
                    <div class="recipeIngredients">
                        <h3 class="cookText text-center">Ingredients</h3>
                        {% for ingredient in recipes.ingredients %}
                            <ul>
                                <li class="cookItem">{{ ingredient.quantity }} {{ ingredient.name }}</li>
                            </ul>
                        {% endfor %}
                    </div>

                    <div class="row groupIngredient">
                        {% for recipe in recipes.ingredients_group %}
                           {% for ingredient in recipe.group %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <h5 class="cookText text-center">{{ ingredient.group_name }}</h5>
                                    <ul class="cookItem">
                                        <li>
                                            {{ingredient.quantity}}
                                            {{ingredient.name}}
                                        </li>
                                    </ul>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="recipeNote">
                    <h4 class="cookText text-center">Notes</h4>
                        <p id="recipeNote">{{ recipes.notes }}</p>
                    </div>
                    <div class="recipeSteps">
                        <h4 class="cookText text-center">Instructions</h4> 
                        {% for step in recipes.steps %}
                            <ul>
                                <li class="cookSteps">{{ step }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
