{% extends 'base.html' %} {% block content %}

<div class="container addRecipeCont">
<h2 class="text-center addRecipeTitle">Upload Recipe</h2>
<form action="{{url_for('updateRecipe', recipes_id=recipes._id)}}" method="POST">
   <div class="form-group">
      <div class="col s12 input-field">
        <label for="name">Recipe Title</label>
        <input class="form-control" id="name" type="text" name="name" value="{{recipes.name}}">
      </div>
   </div>  
   <div class="form-group">
      <div class="input-field col s12">
        <label for="imageURL">Image</label>
        <input class="form-control" id="imageURL" type="text" name="imageURL" value="{{recipes.imageURL}}">
      </div>
     </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="description">Description</label>
        <input name="description" id="description" class="form-control" value="{{recipes.description}}"></input>
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="notes">Notes</label>
        <input class="form-control" id="notes" type="text" name="notes" value="{{recipes.notes}}">
      </div>
   </div>

   <div class="form-group">
   {% for step in recipes.steps %}
      <div class="input-field col s10">
        <label for="steps">Steps</label>
        <input class="form-control" id="steps" type="text" name="steps" value="{{step}}" required >
         <div class="addRemoveItem col s2" id="stepsList" >
            <button type="button" value="addSteps" id="addSteps"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" value="removeSteps" id="removeSteps"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
      </div>
    {% endfor %}  
   </div> 

   <div class="form-group ingredients">
   {% for ingredient in recipes.ingredients %}
      <div class="input-field col s10">
        <label for="ingredients">Ingredients</label>
        <input class="form-control" id="ingredients" type="text" name="ingredients" value="{{ingredient}}" required >
        <div class="addRemoveItem col s2" id="ingredientsList">
            <button type="button" value="addIngredients" id="addIngridient"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" value="removeIngredients" id="removeIngridient"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
      </div> 
    {% endfor %}  
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="course">Course</label>
        <select name="course" class="custom-select">
            <option disabled selected>Course</option>
            {% for item in recipes.course %}
            {% if item in recipes.course %}
            <option value="{{ item }}" selected>{{ item }}</option>
            {% else %}
            <option value="{{ item }}">{{ item }}</option>
            {% endif %}
            {% endfor %}   
        </select>
      </div>
   </div>  
   <div class="form-group">
      <div class="input-field col s12">
      <label for="category">Category</label>
        <select name="category" class="custom-select">
            <option disabled selected>Category</option>
            {% if item in recipes.category %}
            <option value="{{ item }}">{{ item }}</option>
            {% else %}
            <option value="{{ item }}">{{ item }}</option>
            {% endif %}
        </select>
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label  for="cook_time">Time</label>
        <input class="form-control" id="cook_time" type="text" name="cook_time" value="{{recipes.cook_time}}">
      </div>
   </div> 
   <div class="form-group">
      <div class="input-field col s12">
        <label for="yields">Yields</label>
        <input class="form-control" id="yields" type="text" name="yields" value="{{recipes.yields}}">
      </div>
   </div>
   <div class="form-group">
      <div class="input-field col s12">
        <label for="author">Author</label>
        <input class="form-control" id="author" type="text" name="author" value="{{recipes.author}}">
      </div>
   </div> 
   <div class="form-group">
    <div class="col-md-6">
        <button class="btn btn-sm btn--red">Save Recipe</button> 
        <button class="btn btn-sm btn--red">Cancel</button> 
    </div>
   </div>
</form>
</div>
{% endblock %}
