{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
	<div class="jumbotron text-center">
        <h1 class="mainTitle">Yiami Recipes</h1>
        <p>In Greece they say:
        <span class="smallTitle">Love passes through the stomach!</span> So here your will find all kind of recipes to win the heart of your beloved ones!</P>
	</div>
	<!--Filtering the recipes form returning results to the same page-->
	<div class="sortRecipes">
		<form action="{{url_for('sort_recipes')}}" method="POST">
			<div class="btn btn--sm btn--red selectRecipes">Select Recipes:</div>
			<div class="form-row  form-wrapper">
				<div class="col-md-6 my-1">
					<select name="course" class="custom-select">
                        <option selected>Course</option>
                        <option value="Main">Main</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Eating on Budget">Eating on Budget</option>
                        <option value="Snack">Snacks</option>
                    </select>
				</div>
				<div class="col-md-6 my-1">
					<select name="category" class="custom-select">
                        <option selected>Category</option>
                        <option value="Healthy">Healthy</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
				</div>
				<div class="col-auto my-1">
					<button class="btn btn--sm btn--red">Submit</button>
				</div>
			</div>
		</form>
	</div> 


	<!--Show all recipes-->
	<div class="container-fluid recipesContainer">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
                {% for recipe in recipes %}
				<div class="card">
					<div class="card-image">
						<img src="{{ recipe.imageURL }}">
                        <a href="{{url_for('recipe', recipe_id = recipe._id)}}">
						<span class="card-title text-center">{{ recipe.name }}</span></a>
					</div>
					<div class="card-content">
						<p>{{recipe.description}}</p>
					</div>
					<div class="card-action text-center">
						<a href="{{url_for('recipe', recipe_id = recipe._id)}}">Read More</a>
					</div>
				</div>
				{% endfor %}
			</div>
            </div>
		</div>
	</div>
   </div> 



{% endblock %}