{% extends 'base.html' %} {% block content %}

<div class="container singInUpContainer">
  <div class="row">
  <div class="col-md-6">
    <div class="signInHeader">
       <h5 class="signInTitle">Sign In</h5>
    </div>
  <form class="formSignIn" method="POST" action="/signIn">
      <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
          Remember me
        </label>
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn--sm btn--red">Sign In</button>
    </div>
</form>

 <form class="formSignUp" method="POST" action="/signUp">

	 <div class="form-group ">
		<label class="sr-only" for="username">Username*</label>
		<input name="username" type="text" class="form-control" id="username" required>
	</div>
	 <div class="form-group">
		<label for="email">Email</label>
		<input name="email" type="email" class="form-control" id="email">
	</div>
	 <div class="form-group">
		<label for="password">Password*</label>
		<input class="form-control" name="password" type="password" id="password" required>
	</div>
		<button class="btn btn--sm btn--red" type="submit">Sign Up</button>
 </form>
   </div>
  </div>
</div>



{% endblock %}